body {
  font-family: "Segoe UI", sans-serif;
  padding: 30px;
  background-color: #0c0b00;
  color: white;
  margin: 0;
}

h1 {
  color: #deb522;
  margin-bottom: 40px;
  font-weight: 300;
}

h2 {
  color: #deb522;
  text-transform: uppercase;
  font-size: 1.2rem;
}

h3 {
  margin: 0 0 15px 0;
  font-size: 1rem;
  color: #0c0b00;
}

h4 {
  margin: 0 0 8px 0;
  font-size: 11px;
  color: #deb522;
  text-transform: uppercase;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: 50px 0;
}

.main-dashboard {
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  gap: 20px;
}

.req-side {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #444;
  box-sizing: border-box;
  display: block;
  background: #000;
  color: white;
  font-size: 13px;
}

button {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #deb522;
  color: #000;
  transition: 0.2s;
}

button:hover {
  opacity: 0.8;
}

aside form {
  background: #deb522;
  padding: 15px;
  border-radius: 8px;
}

aside input {
  background: white;
  color: black;
  border: none;
}
aside button {
  background: #0c0b00;
  color: #deb522;
}

.req-side form,
.req-side div {
  background: #1a1a1a;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 6px;
}

.special-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 12px;
}

.special-span {
  grid-column: 1 / 3;
}

.display {
  background: #050505;
  border: 1px solid #333;
  padding: 15px;
  border-radius: 8px;
  height: 300px;
  overflow-y: auto;
  font-family: monospace;
  color: #999;
  font-size: 12px;
}

.delete {
  border-color: #660000 !important;
}
.delete button {
  background: #660000;
  color: white;
}